@media(max-width:1000px){
    header{
        width:100%;
    }

    .header-plus{
        width:100%;
        text-align: center;
        align-items: center;
        display: block;
    }

    .about-main{
        width:100%;
        padding:10px;
        flex-wrap: wrap;
        margin:0 auto;
        justify-content:space-between;
    }

    .top-wrapper{
        text-align: center;
        line-height: normal;
    }

    .top-wrapper h1{
        font-size: 35px;
        letter-spacing: 0px;
    }

    .btn{
        margin:10px;
    }

    .about-me h3{
        font-size: 30px;
        text-align: center;
    }

    .about-me p{
        width:100%;
        font-size: 20px;
        text-align: justify;
        line-height: 30px;
    }

    .container{
        width:100%;
    }

    .skill-wrapper{
        width:100%;
    }

    .line{
        width:100%; 
    }

    .message-wrapper{
        width:100%; 
        text-align: center;
    }

}

@media(max-width:670px){
    .about-main{
        width:100%;
        padding:10px;
        flex-wrap: wrap;
        margin:0 auto;
        justify-content:space-between;
    }

    header{
        display: flex;
        flex-direction: column;
        width:100%;
    }

    header ul{
        flex-direction: row;
        align-items: flex-end;
    }

    .header-plus{
        display: none;
    }

    header .menu-icon{
        display: block;
        color:red;
    }

    .container{
        width:100%;
    }

    .main-wrapper{
        width:100%;
    }

    .skill-wrapper{
        width:100%;
    }

    .line{
        width:100%; 
    }

    .message-wrapper{
        width:100%; 
        text-align: center;
    }

    input,textarea{
        width:100%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .footer-list{
        width:100%;
        display: flex;
        flex-direction: column;
    }

    .footer ul{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-logo{
        width:100%;
        text-align: center;
    }

}

@media(max-width:450px){
    .about-main{
        width:100%;
        padding:10px;
        flex-wrap: wrap;
        margin:0 auto;
        justify-content:space-between;
    }

    header{
        display: flex;
        flex-direction: column;
        width:100%;
    }

    header ul{
        flex-direction: row;
        align-items: flex-end;
    }

    header li{
        font-size:10px;
    }

    .header-plus{
        display: none;
    }

    header .menu-icon{
        display: block;
        color:red;
    }

    .container{
        width:100%;
    }

    .main-wrapper{
        width:100%;
        padding:0 50px;
    }

    .heading h1{
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
    }

    .about-me h3{
        font-size: 25px;
    }
  
    .about-me p{
        width:100%;
        display: inline-block;
        margin-top: 20px;
        font-size: 15px; 
    }

    .btn-wrapper a{
        font-size:10px;
    }

    .skill-wrapper{
        width:100%;
    }

    .skill-wrapper h1{
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
    }

    .skill-wrapper h2{
        font-size: 25px;
    }

    .line{
        width:100%; 
    }

    .message-wrapper{
        width:100%; 
        text-align: center;
    }

    .message-wrapper h3{
        font-size: 25px;
    }

    input,textarea{
        width:100%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .footer-list{
        width:100%;
        display: flex;
        flex-direction: column;
    }

    .footer ul{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-logo{
        width:100%;
        text-align: center;
    }

}